<div class="container py-5">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h1 class="mb-4">Update a <%= isVerb ? "Verb" : "Word" %></h1>
        <a href="<%= isVerb ? '/partials/verbs' : '/partials/word?group=' + word.group %>" class="btn btn-light" style="font-size: 1.7rem"
            title="Go back to home">
            <i class="bi bi-arrow-right"></i>
        </a>
    </div>
    <form action="/post/updateWord" method="POST" novalidate>
        <input type="hidden" name="id" value="<%= word._id %>" />
        <div class="form-group mb-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <label for="groupInput" class="form-label">Group
                    <sup class="required-star bi bi-asterisk"></sup></label>

                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label" for="isVerbInput">Is Verb</label>
                        <input class="form-check-input" type="checkbox" id="isVerbInput" name="isVerb" <%= isVerb ? "checked" : "" %>/>
                    </div>
                </div>
            </div>
            <input type="text" class="form-control fake-disabled" id="groupInput" name="group" value="<%= word.group %>"
                readonly required />
        </div>

        <div class="form-group mb-3">
            <label for="wordInput" class="form-label">Word <sup class="required-star bi bi-asterisk"></sup></label>
            <input type="text" class="form-control" id="wordInput" name="word" value="<%= word.word %>" required />
        </div>

        <div class="form-group mb-3">
            <label for="pronunciationInput" class="form-label">Pronunciation
                <sup class="required-star bi bi-asterisk"></sup></label>

            <input type="text" class="form-control" id="pronunciationInput" name="pronunciation"
                value="<%= word.pronunciation %>" required />
        </div>

        <div class="form-group mb-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h4 class="form-label">
                    Definitions
                    <sup class="required-star bi bi-asterisk"></sup>
                </h4>
                <button type="button" class="btn btn-success bi bi-plus-lg mb-2" id="addDefinition">
                    Add Definition
                </button>
            </div>
            <div id="definitions">
                <div class="type-item mb-2">
                    <label for="typeInput" class="form-label">Type</label>
                    <select class="form-select typeSelect" name="definitions[type][]" id="typeInput" required>
                        <option value="">Choose Type</option>
                        <option <%=word.definitions[0].type==="noun" ? "selected" : "" %> value="noun">Noun</option>
                        <option <%=word.definitions[0].type==="verb" ? "selected" : "" %> value="verb">Verb</option>
                        <option <%=word.definitions[0].type==="adjective" ? "selected" : "" %>
                            value="adjective">Adjective</option>
                        <option <%=word.definitions[0].type==="adverb" ? "selected" : "" %> value="adverb">Adverb
                        </option>
                        <option <%=word.definitions[0].type==="preposition" ? "selected" : "" %>
                            value="preposition">Preposition</option>
                        <option <%=word.definitions[0].type==="conjunction" ? "selected" : "" %>
                            value="conjunction">Conjunction</option>
                        <option <%=word.definitions[0].type==="interjection" ? "selected" : "" %>
                            value="interjection">Interjection</option>
                        <option <%=word.definitions[0].type==="pronoun" ? "selected" : "" %> value="pronoun">Pronoun
                        </option>
                        <option <%=word.definitions[0].type==="article" ? "selected" : "" %> value="article">Article
                        </option>
                    </select>
                </div>
                <div class="definition-item mb-2">
                    <label for="definitionInput" class="form-label">Definition</label>
                    <textarea class="form-control" id="definitionInput" name="definitions[definition][]"
                        required><%= word.definitions[0].definition %></textarea>
                </div>
                <div class="example-item mb-2">
                    <label for="exampleInput" class="form-label">Example</label>
                    <textarea class="form-control" id="exampleInput" name="definitions[example][]"
                        required><%= word.definitions[0].example %></textarea>
                </div>
                <% if (word.definitions.length> 1) { %>
                    <% word.definitions.slice(1).forEach((def, index)=> { %>
                        <div class="definition-wrapper">
                            <hr>
                            <div class="type-item mb-2">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <label class="form-label">Type</label>
                                    <button type="button" class="deleteDefinition btn btn-danger bi bi-trash"
                                        title="Remove Definition"></button>
                                </div>
                                <select class="form-select typeSelect" name="definitions[type][]" required>
                                    <option value="">Choose Type</option>
                                    <option <%=def.type==="noun" ? "selected" : "" %> value="noun">Noun</option>
                                    <option <%=def.type==="verb" ? "selected" : "" %> value="verb">Verb</option>
                                    <option <%=def.type==="adjective" ? "selected" : "" %> value="adjective">Adjective
                                    </option>
                                    <option <%=def.type==="adverb" ? "selected" : "" %> value="adverb">Adverb</option>
                                    <option <%=def.type==="preposition" ? "selected" : "" %>
                                        value="preposition">Preposition</option>
                                    <option <%=def.type==="conjunction" ? "selected" : "" %>
                                        value="conjunction">Conjunction</option>
                                    <option <%=def.type==="interjection" ? "selected" : "" %>
                                        value="interjection">Interjection</option>
                                    <option <%=def.type==="pronoun" ? "selected" : "" %> value="pronoun">Pronoun
                                    </option>
                                    <option <%=def.type==="article" ? "selected" : "" %> value="article">Article
                                    </option>
                                </select>
                            </div>
                            <div class="definition-item mb-2">
                                <label class="form-label">Definition</label>
                                <textarea class="form-control" name="definitions[definition][]"
                                    required><%= def.definition %></textarea>
                            </div>
                            <div class="example-item mb-2">
                                <label class="form-label">Example</label>
                                <textarea class="form-control" name="definitions[example][]"
                                    required><%= def.example %></textarea>
                            </div>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        </div>

        <div class="form-group mb-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h4 class="form-label">Synonyms</h4>
                <button type="button" class="btn btn-success bi bi-plus-lg" id="addSynonym">
                    Add Synonym
                </button>
            </div>
            <div id="synonyms">
                <div class="synonym-item mb-2">
                    <label for="synonymInput" class="form-label">Synonym</label>
                    <input type="text" class="form-control" id="synonymInput" name="synonyms[]" value="<%= word.synonyms[0] %>" />
                </div>
                <% word.synonyms.slice(1).forEach(syn => { %>
                    <div class="synonym-item mb-2">
                        <hr>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <label class="form-label">Synonym</label>
                            <button type="button" class="deleteSynonym btn btn-danger bi bi-trash" tooltip="Remove Synonym"></button>
                        </div>
                        <input type="text" class="form-control" name="synonyms[]" value="<%= syn %>" />
                    </div>
                <% }) %>
            </div>
        </div>

        <div class="form-group mb-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h4 class="form-label">Antonyms</h4>
                <button type="button" class="btn btn-success bi bi-plus-lg" id="addAntonym">
                    Add Antonym
                </button>
            </div>
            <div id="antonyms">
                <div class="antonym-item mb-2">
                    <label for="antonymInput" class="form-label">Antonym</label>
                    <input type="text" class="form-control" id="antonymInput" name="antonyms[]" value="<%= word.antonyms[0] %>" />
                </div>
                <% word.antonyms.slice(1).forEach(ant => { %>
                    <div class="antonym-item mb-2">
                        <hr>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <label class="form-label">Antonym</label>
                            <button type="button" class="deleteAntonym btn btn-danger bi bi-trash" tooltip="Remove Antonym"></button>
                        </div>
                        <input type="text" class="form-control" name="antonyms[]" value="<%= ant %>" />
                    </div>
                <% }) %>
            </div>
        </div>

        <div class="form-group mb-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h4 class="form-label">Tags</h4>
                <button type="button" class="btn btn-success bi bi-plus-lg" id="addTag">
                    Add Tag
                </button>
            </div>
            <div id="tags">
                <div class="tag-item mb-2">
                    <label for="tagInput" class="form-label">Tag</label>
                    <input type="text" class="form-control" id="tagInput" name="tags[]" value="<%= word.tags[0] %>" />
                </div>
                <% word.tags.slice(1).forEach(tag => { %>
                    <div class="tag-item mb-2">
                        <hr>
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <label class="form-label">Tag</label>
                            <button type="button" class="deleteTag btn btn-danger bi bi-trash" tooltip="Remove Tag"></button>
                        </div>
                        <input type="text" class="form-control" name="tags[]" value="<%= tag %>" />
                    </div>
                <% }) %>
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="originInput" class="form-label">Origin</label>
            <input type="text" class="form-control" id="originInput" name="origin" value="<%= word.origin %>" />
        </div>

        <!-- Word Forms Section -->
        <div id="wordForms" class="form-group mb-3">
            <h4 class="form-label">Word Forms</h4>

            <div class="form-group mb-2">
                <label for="pluralInput" class="form-label">Plural</label>
                <input type="text" class="form-control" id="pluralInput" name="forms[plural]" value="<%= word.forms?.plural ? word.forms.plural : '' %>" />
            </div>

            <div class="form-group mb-2">
                <label for="pastTenseInput" class="form-label">Past Tense</label>
                <input type="text" class="form-control" id="pastTenseInput" name="forms[pastTense]" value="<%= word.forms?.pastTense ? word.forms.pastTense : '' %>" />
            </div>

            <div class="form-group mb-2">
                <label for="comparativeInput" class="form-label">Comparative</label>
                <input type="text" class="form-control" id="comparativeInput" name="forms[comparative]" value="<%= word.forms?.comparative ? word.forms.comparative : '' %>" />
            </div>

            <div class="form-group mb-2">
                <label for="superlativeInput" class="form-label">Superlative</label>
                <input type="text" class="form-control" id="superlativeInput" name="forms[superlative]" value="<%= word.forms?.superlative ? word.forms.superlative : '' %>" />
            </div>
        </div>

        <div id="verbConjugations" class="form-group mb-3">
            <h4 class="form-label">Verb Conjugations 
                <sup class="required-star bi bi-asterisk"></sup>
            </h4>

            <h5 class="pt-2">Past Tense:</h5>
            <div class="table-responsive">
                <table class="table table-bordered table-sm">
                    <thead class="table-light">
                        <tr>
                            <td></td>
                            <td>Singular</td>
                            <td>Plural</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>First Person</td>
                            <td><input type="text" class="form-control" name="conjugations[past][singular][firstPerson]"
                                value="<%= word.conjugations?.past?.singular?.firstPerson ? word.conjugations.past.singular.firstPerson : '' %>"/></td>
                            <td><input type="text" class="form-control" name="conjugations[past][plural][firstPerson]"
                                value="<%= word.conjugations?.past?.plural?.firstPerson ? word.conjugations.past.plural.firstPerson : '' %>"/></td>
                        </tr>
                        <tr>
                            <td>Second Person</td>
                            <td><input type="text" class="form-control" name="conjugations[past][singular][secondPerson]"
                                value="<%= word.conjugations?.past?.singular?.secondPerson ? word.conjugations.past.singular.secondPerson : '' %>"/></td>
                            <td><input type="text" class="form-control" name="conjugations[past][plural][secondPerson]"
                                value="<%= word.conjugations?.past?.plural?.secondPerson ? word.conjugations.past.plural.secondPerson : '' %>"/></td>
                        </tr>
                        <tr>
                            <td>Third Person</td>
                            <td><input type="text" class="form-control" name="conjugations[past][singular][thirdPerson]"
                                value="<%= word.conjugations?.past?.singular?.thirdPerson ? word.conjugations.past.singular.thirdPerson : '' %>"/></td>
                            <td><input type="text" class="form-control" name="conjugations[past][plural][thirdPerson]"
                                value="<%= word.conjugations?.past?.plural?.thirdPerson ? word.conjugations.past.plural.thirdPerson : '' %>"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h5>Present Tense:</h5>
            <div class="table-responsive">
                <table class="table table-bordered table-sm">
                    <thead class="table-light">
                        <tr>
                            <td></td>
                            <td>Singular</td>
                            <td>Plural</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>First Person</td>
                            <td><input type="text" class="form-control" name="conjugations[present][singular][firstPerson]"
                                value="<%= word.conjugations?.present?.singular?.firstPerson ? word.conjugations.present.singular.firstPerson : '' %>"/></td>
                            <td><input type="text" class="form-control" name="conjugations[present][plural][firstPerson]"
                                value="<%= word.conjugations?.present?.plural?.firstPerson ? word.conjugations.present.plural.firstPerson : '' %>"/></td>
                        </tr>
                        <tr>
                            <td>Second Person</td>
                            <td><input type="text" class="form-control" name="conjugations[present][singular][secondPerson]"
                                value="<%= word.conjugations?.present?.singular?.secondPerson ? word.conjugations.present.singular.secondPerson : '' %>"/></td>
                            <td><input type="text" class="form-control" name="conjugations[present][plural][secondPerson]"
                                value="<%= word.conjugations?.present?.plural?.secondPerson ? word.conjugations.present.plural.secondPerson : '' %>"/></td>
                        </tr>
                        <tr>
                            <td>Third Person</td>
                            <td><input type="text" class="form-control" name="conjugations[present][singular][thirdPerson]"
                                value="<%= word.conjugations?.present?.singular?.thirdPerson ? word.conjugations.present.singular.thirdPerson : '' %>"/></td>
                            <td><input type="text" class="form-control" name="conjugations[present][plural][thirdPerson]"
                                value="<%= word.conjugations?.present?.plural?.thirdPerson ? word.conjugations.present.plural.thirdPerson : '' %>"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h5>Future Tense:</h5>
            <div class="table-responsive">
                <table class="table table-bordered table-sm">
                    <thead class="table-light">
                        <tr>
                            <td></td>
                            <td>Singular</td>
                            <td>Plural</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>First Person</td>
                            <td><input type="text" class="form-control" name="conjugations[future][singular][firstPerson]"
                                value="<%= word.conjugations?.future?.singular?.firstPerson ? word.conjugations.future.singular.firstPerson : '' %>"/></td>
                            <td><input type="text" class="form-control" name="conjugations[future][plural][firstPerson]"
                                value="<%= word.conjugations?.future?.plural?.firstPerson ? word.conjugations.future.plural.firstPerson : '' %>"/></td>
                        </tr>
                        <tr>
                            <td>Second Person</td>
                            <td><input type="text" class="form-control" name="conjugations[future][singular][secondPerson]"
                                value="<%= word.conjugations?.future?.singular?.secondPerson ? word.conjugations.future.singular.secondPerson : '' %>"/></td>
                            <td><input type="text" class="form-control" name="conjugations[future][plural][secondPerson]"
                                value="<%= word.conjugations?.future?.plural?.secondPerson ? word.conjugations.future.plural.secondPerson : '' %>"/></td>
                        </tr>
                        <tr>
                            <td>Third Person</td>
                            <td><input type="text" class="form-control" name="conjugations[future][singular][thirdPerson]"
                                value="<%= word.conjugations?.future?.singular?.thirdPerson ? word.conjugations.future.singular.thirdPerson : '' %>"/></td>
                            <td><input type="text" class="form-control" name="conjugations[future][plural][thirdPerson]"
                                value="<%= word.conjugations?.future?.plural?.thirdPerson ? word.conjugations.future.plural.thirdPerson : '' %>"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <button type="submit" class="btn btn-outline-primary">
            Update <%= isVerb ? "Verb" : "Word" %>
        </button>
    </form>
</div>

<%- include("../templates/scripts") %>
<script src="/public/scripts/form.js"></script>
<script src="/public/scripts/create.js"></script>
